<div id="choose-language-label">{{'HEADING.CHOOSE_LANGUAGE' | translate}}</div>
<ul class="no-bullets languages" id="language-switcher">
  <li class="de clickable" (click)="setLanguage('de')">
    <img src="{{baseImageLocation}}/assets/img/flags/de.png" alt="">
  </li>
  <li class="eng selected clickable" (click)="setLanguage('en')">
    <img src="{{baseImageLocation}}/assets/img/flags/en.png" alt="">
  </li>
  <li class="fr-ca clickable" (click)="setLanguage('fr-ca')">
    <img src="{{baseImageLocation}}/assets/img/flags/ca.png" alt="">
  </li>
  <li class="it clickable" (click)="setLanguage('it')">
    <img src="{{baseImageLocation}}/assets/img/flags/it.png" alt="">
  </li>
  <li class="jpn clickable" (click)="setLanguage('jpn')">
    <img src="{{baseImageLocation}}/assets/img/flags/ja.png" alt="">
  </li>
  <li class="ko clickable" (click)="setLanguage('ko')">
    <img src="{{baseImageLocation}}/assets/img/flags/ko.png" alt="">
  </li>
  <li class="spa clickable" (click)="setLanguage('spa')">
    <img src="{{baseImageLocation}}/assets/img/flags/es.png" alt="">
  </li>
  <li class="zh clickable" (click)="setLanguage('zh')">
    <img src="{{baseImageLocation}}/assets/img/flags/zh.png" alt="">
  </li>
  <li class="zh-tw clickable" (click)="setLanguage('zh-tw')">
    <img src="{{baseImageLocation}}/assets/img/flags/tw.png" alt="">
  </li>
</ul>
