<div class="warranty-wiz--content">
		<h1 class="warranty-wiz--header">Personal Information</h1>
		<h2 class="warranty-wiz--subheader">First, tell us about yourself.</h2>
		<p class="warranty-wiz--intro">We need this information so we know how to get back with you. We keep all of this strictly confidential.</p>
		<p class="warranty-wiz--intro">*Please note that photos will be required of the items and issues you are experiencing.  If these cannot be attached to this claim, we ask that you call or chat with Customer Care to place your claim. Customer Care is available at 1-800-748-5400 or through the Live Chat (M-F, 7am-6pm MST)</p>



</div>