<div class="warranty-wiz--content">
		<h1 class="warranty-wiz--header">{{'HEADING.PERSONAL_INFORMATION' | translate}}</h1>
		<h2 class="warranty-wiz--subheader">{{'LABEL.TELL_ABOUT_YOURSELF' | translate}}</h2>
		<p class="warranty-wiz--intro">{{'CONTENT.CONFIDENTIAL' | translate}}</p>
		<p class="warranty-wiz--intro">{{'CONTENT.PHOTO_INFO' | translate}}</p>

    <form novalidate (ngSubmit)="onSubmit(personal)" [formGroup]="personal" class="animate-floating-labels">
      <!-- TODO - more elegant solution to massive if -->
      <div class="errors" *ngIf="checkIfErrorsShow(personal)"
      >
        <ul>
          <li *ngIf="checkIfElementIsErrored(personal.get('firstName'))">
            {{'VALIDATION.REQUIRED_FIRST_NAME' | translate}}
          </li>
          <li *ngIf="checkIfElementIsErrored(personal.get('lastName'))">
            {{'VALIDATION.REQUIRED_LAST_NAME' | translate}}
          </li>
          <li
            *ngIf="checkIfElementIsErrored(personal.get('address.one'))">
            {{'VALIDATION.REQUIRED_ADDRESS' | translate}}
          </li>
          <li
            *ngIf="checkIfElementIsErrored(personal.get('address.city'))">
            {{'VALIDATION.REQUIRED_CITY' | translate}}
          </li>
          <li
            *ngIf="checkIfElementIsErrored(personal.get('address.zip'))">
            {{'VALIDATION.REQUIRED_ZIP' | translate}}
          </li>
          <li
            *ngIf="checkIfElementIsErrored(personal.get('address.country'))">
            {{'VALIDATION.REQUIRED_COUNTRY' | translate}}
          </li>
          <li
            *ngIf="checkIfElementIsErrored(personal.get('address.stateProvince'))">
            {{'VALIDATION.REQUIRED_STATE' | translate}}
          </li>
          <li
            *ngIf="checkIfElementIsErrored(personal.get('address.email'))">
            {{'VALIDATION.REQUIRED_EMAIL' | translate}}
          </li>
          <li
            *ngIf="checkIfElementIsErrored(personal.get('purchase.date'))">
            {{'VALIDATION.REQUIRED_PURCHASE_DATE' | translate}}
          </li>
          <li
            *ngIf="checkIfElementIsErrored(personal.get('contact.contactMethod'))">
            {{'VALIDATION.REQUIRED_CONTACT_METHOD' | translate}}
          </li>
          <li
            *ngIf="checkIfElementIsErrored(personal.get('receiptPhoto'))">
            {{'VALIDATION.REQUIRED_RECEIPT_PHOTO' | translate}}
          </li>
          <li
            *ngIf="checkIfElementIsErrored(personal.get('contact.contactTime'))">
            Contact Time is required
          </li>
          <li
            *ngIf="checkIfElementIsErrored(personal.get('contact.timeZone'))">
            Time Zone is required
          </li>
          <li *ngIf="!personalDone && personalError">{{'ERROR.personal_FAILED' | translate}}</li>
        </ul>
      </div>
      <div>


          <div class="grid">
            <div class="grid__item small--one-half medium--one-half large--one-half">

              <label class="hidden-label">{{'LABEL.FIRST_NAME' | translate}}</label>
              <input class="input-full"
                     [ngClass]="{error: checkIfElementIsErrored(personal.get('firstName'))}"
                     placeholder="{{'LABEL.FIRST_NAME' | translate}}" type="text"
                     formControlName="firstName">
            </div>
            <div class="grid__item small--one-half medium--one-half large--one-half">
              <label class="hidden-label">{{'LABEL.LAST_NAME' | translate}}</label>
              <input class="input-full"
                     [ngClass]="{error: checkIfElementIsErrored(personal.get('lastName'))}"
                     placeholder="{{'LABEL.LAST_NAME' | translate}}" type="text"
                     formControlName="lastName">
            </div>
          </div>


          <div formGroupName="address">

            <label class="hidden-label">{{'LABEL.ADDRESS' | translate}}</label>
            <input class="input-full" placeholder="{{'LABEL.ADDRESS' | translate}}" type="text"
                   [ngClass]="{error: checkIfElementIsErrored(personal.get('address.one'))}"
                   formControlName="one">
            <div class="grid">
              <div class="grid__item small--one-half medium--one-half large--one-half">
                <label class="hidden-label">{{'LABEL.ADDRESS_TWO' | translate}}</label>
                <input class="input-full" placeholder="{{'LABEL.ADDRESS_TWO' | translate}}" type="text"
                       [ngClass]="{error: checkIfElementIsErrored(personal.get('address.two'))}"
                       formControlName="two">
              </div>
              <div class="grid__item small--one-half medium--one-half large--one-half">
                <label class="hidden-label"> {{'LABEL.CITY' | translate}}</label>
                <input type="text" class="input-full" placeholder="{{'LABEL.CITY' | translate}}"
                       [ngClass]="{error: checkIfElementIsErrored(personal.get('address.city'))}"
                       formControlName="city">
              </div>
            </div>

            <div class="grid">
              <div class="grid__item small--one-half medium--one-half large--one-half">
                <label class="hidden-label">{{'LABEL.STATE' | translate}}</label>
                <select class="input-full"
                        [ngClass]="{error: checkIfElementIsErrored(personal.get('address.stateProvince'))}"
                        formControlName="stateProvince">
                  <option value="">{{'OPTION.STATE' | translate}}</option>
                  <option
                    *ngFor="let state of states$ | async | filterBy: ['country']: this.personal.get('address.country').value"
                    [disabled]="states$?.length > 0" [ngValue]="state.name">
                    {{state.name}}
                  </option>
                </select>
              </div>
              <div class="grid__item small--one-half medium--one-half large--one-half">
                <label class="hidden-label">{{'LABEL.ZIP' | translate}}</label>
                <input type="text" class="input-full" placeholder="{{'LABEL.ZIP' | translate}}"
                       [ngClass]="{error: checkIfElementIsErrored(personal.get('address.zip'))}"
                       formControlName="zip">
              </div>
            </div>

            <label class="hidden-label">{{'LABEL.COUNTRY' | translate}}</label>
            <select class="input-full"
                    [ngClass]="{error: checkIfElementIsErrored(personal.get('address.country'))}"
                    formControlName="country">
              <option value="">{{'OPTION.COUNTRY' | translate}}</option>
              <option *ngFor="let country of countries$ | async" [ngValue]="country.code">
                {{country.name}}
              </option>
            </select>

            <label class="hidden-label">{{'LABEL.EMAIL' | translate}}</label>
            <input class="input-full" placeholder="{{'LABEL.EMAIL' | translate}}" type="text"
                   [ngClass]="{error: checkIfElementIsErrored(personal.get('address.email'))}"
                   formControlName="email">

            <label class="hidden-label">{{'LABEL.PHONE' | translate}}</label>
            <input class="input-full" placeholder="{{'LABEL.PHONE' | translate}}" type="text"
                   [ngClass]="{error: checkIfElementIsErrored(personal.get('address.phone'))}"
                   formControlName="phone">
          </div>

          <div formGroupName="contact">
          	<div class="input-full">
          		<div>
	          		<label>{{'LABEL.CONTACT_METHOD' | translate}}</label>
	          	</div>
	          	<label for="ContactMethodEmail" class="radio-seperator">
	            	<input class="" placeholder="{{'LABEL.EMAIL' | translate}}" id="ContactMethodEmail" type="radio" formControlName="contactMethod" value="email"
	                   [ngClass]="{error: checkIfElementIsErrored(personal.get('contact.contactMethod'))}">
	                   {{'LABEL.EMAIL' | translate}}
	            </label>

	            <label for="ContactMethodPhone" class="radio-seperator">
	            	<input class="" placeholder="{{'LABEL.PHONE' | translate}}" id="ContactMethodPhone" type="radio" formControlName="contactMethod" value="phone"
	                   [ngClass]="{error: checkIfElementIsErrored(personal.get('contact.contactMethod'))}">
	                   {{'LABEL.PHONE' | translate}}
	            </label>
			</div>
			<div class="input-full">
				<div>
	          		<label>{{'LABEL.CONTACT_TIME' | translate}}</label>
	          	</div>
	          	<label for="ContactTimeMorning" class="radio-seperator">
	            	<input class="" placeholder="{{'LABEL.MORNING' | translate}}" id="ContactTimeMorning" type="radio" formControlName="contactTime" value="morning"
	                   [ngClass]="{error:checkIfElementIsErrored(personal.get('contact.contactTime'))}">
	                   {{'LABEL.MORNING' | translate}}
	            </label>

	            <label for="ContactTimeAfternoon" class="radio-seperator">
	            	<input class="" placeholder="{{'LABEL.AFTERNOON' | translate}}" id="ContactTimeAfternoon" type="radio" formControlName="contactTime" value="afternoon"
	                   [ngClass]="{error: checkIfElementIsErrored(personal.get('contact.contactTime'))}">
	                   {{'LABEL.AFTERNOON' | translate}}
	            </label>

	            <label for="ContactTimeEvening" class="radio-seperator">
	            	<input class="" placeholder="{{'LABEL.EVENING' | translate}}" id="ContactTimeEvening" type="radio" formControlName="contactTime" value="evening"
	                   [ngClass]="{error: checkIfElementIsErrored(personal.get('contact.contactTime'))}">
	                   {{'LABEL.EVENING' | translate}}
	            </label>
            </div>
      <div class="input-full">
        <div>
                <label>What is your time zone?</label>
              </div>
            <label class="hidden-label">{{'LABEL.PURCHASE_PLACE' | translate}}</label>
            <select class="input-full"
                    [ngClass]="{error: checkIfElementIsErrored(personal.get('contact.timeZone'))}"
                    formControlName="timeZone">
              <option *ngFor="let timeZone of timeZones$ | async" [ngValue]="timeZone.code">
                {{timeZone.name}}
              </option>
            </select>
            </div>
          </div>

          <div formGroupName="purchase">
            <label>{{'LABEL.PURCHASE_DATE' | translate}}</label>
            <my-date-picker  class="input-full" name="date" [options]="dateOptions"
                            [ngClass]="{error: checkIfElementIsErrored(personal.get('purchase.date'))}"
                            formControlName="date"></my-date-picker>
            <label class="hidden-label">{{'LABEL.PURCHASE_PLACE' | translate}}</label>
            <select class="input-full"
                    [ngClass]="{error: checkIfElementIsErrored(personal.get('purchase.place'))}"
                    formControlName="place">
              <option value="">{{'LABEL.PURCHASE_PLACE' | translate}}</option>
              <option *ngFor="let retailer of retailers$ | async" [ngValue]="retailer.name">
                {{retailer.name}}
              </option>
            </select>
            <label class="hidden-label">{{'LABEL.PURCHASE_PLACE_OTHER' | translate}}</label>
            <input class="input-full" placeholder="{{'LABEL.PURCHASE_PLACE_OTHER' | translate}}" type="text"
                   formControlName="other">
          </div>

		<div class="grid input-full">
        	<div class="grid__item">
               {{'LABEL.RECEIPT' | translate}}
            </div>
            <div class="grid__item large--one-half medium--one-half">
		        <label for="ReceiptPhoto" class="input-full">
		        	<input class="" placeholder="{{'LABEL.RECEIPT' | translate}}" id="ReceiptPhoto" type="file" (change)="fileUpload($event)"
		               [ngClass]="{error: checkIfElementIsErrored(personal.get('receiptPhoto'))}">
		        </label>
	        </div>
	        <div class="grid__item large--one-half medium--one-half">
				<div *ngIf="wrongFileType" class="errors">
					<ul>
					  <li>
					    {{'VALIDATION.WRONG_FILE_TYPE' | translate}}
					  </li>
					</ul>
				</div>
	        </div>
		</div>

    <div class="grid input-full">
      <button id="personal-submit--btn" name="button" class="step__footer__continue-btn btn" style="float:right;"
              type="submit">
        NEXT
      </button>
    </div>


      </div>

    </form>

</div>
