<div class="warranty-wiz--content">
		<h1 class="warranty-wiz--header">Personal Information</h1>
		<h2 class="warranty-wiz--subheader">First, Tell us about yourself</h2>
		<p class="warranty-wiz--intro">We need this information so we know how to get back with you. We keep all of this strictly confidential.</p>
		<p class="warranty-wiz--intro">*Please note that photos will be required of the items and issues you are experiencing.  If these cannot be attached to this claim, we ask that you call or chat with Customer Care to place your claim. Customer Care is available at 1-800-748-5400 or through the Live Chat (M-F, 7am-6pm MST)</p>

    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="personal" class="animate-floating-labels">
      <!-- TODO - more elegant solution to massive if -->
      <div class="errors" *ngIf="checkIfErrorsShow(personal)"
      >
        <ul>
          <li *ngIf="checkIfElementIsErrored(personal.get('firstName'))">
            First Name
          </li>
          <li *ngIf="checkIfElementIsErrored(personal.get('lastName'))">
            Last Name
          </li>
          <li
            *ngIf="checkIfElementIsErrored(personal.get('address.one'))">
            Address is required
          </li>
          <li
            *ngIf="checkIfElementIsErrored(personal.get('address.city'))">
            City is required
          </li>
          <li
            *ngIf="checkIfElementIsErrored(personal.get('address.zip'))">
            Zipcode is required
          </li>
          <li
            *ngIf="checkIfElementIsErrored(personal.get('address.country'))">
            Country is required
          </li>
          <li
            *ngIf="checkIfElementIsErrored(personal.get('address.stateProvince'))">
            State is required
          </li>
          <li
            *ngIf="checkIfElementIsErrored(personal.get('address.email'))">
            Valid Email is required
          </li>
          <li
            *ngIf="checkIfElementIsErrored(personal.get('purchase.date'))">
            Purchase Date is required
          </li>
          <li
            *ngIf="checkIfElementIsErrored(personal.get('contact.contactMethod'))">
            Contact Method is required
          </li>
          <li
            *ngIf="checkIfElementIsErrored(personal.get('receiptPhoto'))">
            Receipt Photo is required
          </li>
          <li
            *ngIf="checkIfElementIsErrored(personal.get('contact.contactTime'))">
            Contact Time is required
          </li>
          <li
            *ngIf="checkIfElementIsErrored(personal.get('contact.timeZone'))">
            Time Zone is required
          </li>
        </ul>
      </div>
      <div>


          <div class="grid">
            <div class="grid__item small--one-half medium--one-half large--one-half">

              <label class="hidden-label">First Name</label>
              <input class="input-full"
                     [ngClass]="{error: checkIfElementIsErrored(personal.get('firstName'))}"
                     placeholder="First Name" type="text"
                     formControlName="firstName">
            </div>
            <div class="grid__item small--one-half medium--one-half large--one-half">
              <label class="hidden-label">Last Name</label>
              <input class="input-full"
                     [ngClass]="{error: checkIfElementIsErrored(personal.get('lastName'))}"
                     placeholder="Last Name" type="text"
                     formControlName="lastName">
            </div>
          </div>


          <div formGroupName="address">

            <label class="hidden-label">{{'LABEL.ADDRESS' | translate}}</label>
            <input class="input-full" placeholder="Street Address" type="text"
                   [ngClass]="{error: checkIfElementIsErrored(personal.get('address.one'))}"
                   formControlName="one">
            <div class="grid">
              <div class="grid__item small--one-half medium--one-half large--one-half">
                <label class="hidden-label">Apt/Suite</label>
                <input class="input-full" placeholder="Apt/Suite" type="text"
                       [ngClass]="{error: checkIfElementIsErrored(personal.get('address.two'))}"
                       formControlName="two">
              </div>
              <div class="grid__item small--one-half medium--one-half large--one-half">
                <label class="hidden-label"> City</label>
                <input type="text" class="input-full" placeholder="City"
                       [ngClass]="{error: checkIfElementIsErrored(personal.get('address.city'))}"
                       formControlName="city">
              </div>
            </div>

            <div class="grid">
              <div class="grid__item small--one-half medium--one-half large--one-half">
                <label class="hidden-label">State</label>
                <select class="input-full"
                        [ngClass]="{error: checkIfElementIsErrored(personal.get('address.stateProvince'))}"
                        formControlName="stateProvince">
                  <option value="">Select State</option>
                  <option
                    *ngFor="let state of states$ | async | filterBy: ['country']: this.personal.get('address.country').value"
                    [disabled]="states$?.length > 0" [ngValue]="state.name">
                    {{state.name}}
                  </option>
                </select>
              </div>
              <div class="grid__item small--one-half medium--one-half large--one-half">
                <label class="hidden-label">Zip Code</label>
                <input type="text" class="input-full" placeholder="Zip Code"
                       [ngClass]="{error: checkIfElementIsErrored(personal.get('address.zip'))}"
                       formControlName="zip">
              </div>
            </div>

            <label class="hidden-label">Country</label>
            <select class="input-full"
                    [ngClass]="{error: checkIfElementIsErrored(personal.get('address.country'))}"
                    formControlName="country">
              <option value="">Select Country</option>
              <option *ngFor="let country of countries$ | async" [ngValue]="country.code">
                {{country.name}}
              </option>
            </select>

            <label class="hidden-label">Email</label>
            <input class="input-full" placeholder="Email" type="text"
                   [ngClass]="{error: checkIfElementIsErrored(personal.get('address.email'))}"
                   formControlName="email">

            <label class="hidden-label">Phone Number</label>
            <input class="input-full" placeholder="Phone Number" type="text"
                   [ngClass]="{error: checkIfElementIsErrored(personal.get('address.phone'))}"
                   formControlName="phone">
          </div>

          <div formGroupName="contact">
          	<div class="input-full">
          		<div>
	          		<label>What Is The Best Way To Contact You?</label>
	          	</div>
	          	<label for="ContactMethodEmail" class="radio-seperator">
	            	<input class="" placeholder="Email" id="ContactMethodEmail" type="radio" formControlName="contactMethod" value="email"
	                   [ngClass]="{error: checkIfElementIsErrored(personal.get('contact.contactMethod'))}">
	                   Email
	            </label>

	            <label for="ContactMethodPhone" class="radio-seperator">
	            	<input class="" placeholder="Phone" id="ContactMethodPhone" type="radio" formControlName="contactMethod" value="phone"
	                   [ngClass]="{error: checkIfElementIsErrored(personal.get('contact.contactMethod'))}">
	                   Phone
	            </label>
			</div>
			<div class="input-full">
				<div>
	          		<label>What Is The Best Time Of Day To Reach You?</label>
	          	</div>
	          	<label for="ContactTimeMorning" class="radio-seperator">
	            	<input class="" placeholder="Morning" id="ContactTimeMorning" type="radio" formControlName="contactTime" value="morning"
	                   [ngClass]="{error:checkIfElementIsErrored(personal.get('contact.contactTime'))}">
	                   Morning
	            </label>

	            <label for="ContactTimeAfternoon" class="radio-seperator">
	            	<input class="" placeholder="Afternoon" id="ContactTimeAfternoon" type="radio" formControlName="contactTime" value="afternoon"
	                   [ngClass]="{error: checkIfElementIsErrored(personal.get('contact.contactTime'))}">
	                   Afternoon
	            </label>

	            <label for="ContactTimeEvening" class="radio-seperator">
	            	<input class="" placeholder="Evening" id="ContactTimeEvening" type="radio" formControlName="contactTime" value="evening"
	                   [ngClass]="{error: checkIfElementIsErrored(personal.get('contact.contactTime'))}">
	                   Evening
	            </label>
            </div>
      <div class="input-full">
        <div>
                <label>What is your time zone?</label>
              </div>
            <select class="input-full"
                    [ngClass]="{error: checkIfElementIsErrored(personal.get('contact.timeZone'))}"
                    formControlName="timeZone">
              <option *ngFor="let timeZone of timeZones$ | async" [ngValue]="timeZone.code">
                {{timeZone.name}}
              </option>
            </select>
            </div>
          </div>

          <div formGroupName="purchase">
            <label>Date of Purchase</label>
            <my-date-picker  class="input-full" name="date" [options]="dateOptions"
                            [ngClass]="{error: checkIfElementIsErrored(personal.get('purchase.date'))}"
                            formControlName="date"></my-date-picker>
            <label class="hidden-label">Place of Purchase</label>
            <select class="input-full"
                    [ngClass]="{error: checkIfElementIsErrored(personal.get('purchase.place'))}"
                    formControlName="place">
              <option value="">Place of Purchase</option>
              <option *ngFor="let retailer of retailers$ | async" [ngValue]="retailer.name">
                {{retailer.name}}
              </option>
            </select>
            <label class="hidden-label">If 'Other' please specify</label>
            <input class="input-full" placeholder="If 'Other' please specify" type="text"
                   formControlName="other">
          </div>

		<div class="grid input-full">
        	<div class="grid__item">
               If you still have the receipt would you please upload a picture of it?
            </div>
            <div class="grid__item large--one-half medium--one-half">
		        <label for="ReceiptPhoto" class="input-full">
		        	<input class="" placeholder="If you still have the receipt would you please upload a picture of it?" id="ReceiptPhoto" type="file" (change)="fileUpload($event)"
		               [ngClass]="{error: checkIfElementIsErrored(personal.get('receiptPhoto'))}">
		        </label>
	        </div>
		</div>

    <div class="grid input-full">
      <button id="personal-submit--btn" name="button" class="step__footer__continue-btn btn" style="float:right;"
              type="submit">
        NEXT
      </button>
    </div>


      </div>

    </form>

</div>
