<div class="warranty-wiz--container">
  <div class="warranty-wiz--steps">
    <app-state-tracker></app-state-tracker>
  </div>
<app-additional *ngIf="appState === 3"></app-additional>
<app-personal *ngIf="appState === 1"></app-personal>
<app-product *ngIf="appState === 2"></app-product>
    <div class="warranty-wiz--nav-bottom">
      <button title="Previous Step" style="float:left;" (click)="ngIncrementState(-1)">Back</button>
      <button title="Next Step" style="float:right;" (click)="ngIncrementState(1)">Next</button>
    </div>

</div>



<input [(ngModel)]="testAppState" type="number"/>
<button (click)="setStateTest()">set</button>