<div class="warranty-wiz--content">
		<h1 class="warranty-wiz--header">PRODUCT INFORMATION</h1>
    <h2 class="warranty-wiz--subheader">Next, tell us about your problem.</h2>

    <form novalidate (ngSubmit)="onSubmit(product)" [formGroup]="product" class="animate-floating-labels">
      <!-- TODO - more elegant solution to massive if -->
      <div class="errors" *ngIf="checkIfErrorsShow(product)"
      >
        <ul>
          <li *ngIf="checkIfElementIsErrored(product.get('problemType'))">
              Select what your problem is
          </li>
        </ul>
      </div>
      <div>

<!--
      this.product = this.formBuilder.group({
        problemType: ['', [Validators.required]],
        motorSerial: this.formBuilder.group({
          serialPrefix: ['', [Validators.required]],
          serialSuffix: ['', [Validators.required]],
          serialPhoto: ['', [Validators.required]]
        }),
        jar: this.formBuilder.group({
          jarSize: ['', []],
          jarNumber: ['', []],
          jarPhoto: ['', []]
        }),
        problemDescription: ['', [Validators.required]]
      });



-->
    <div class="grid">

      <div class="input-full grid__item">
              <div>
                <label>With what are you having a problem?</label>
              </div>
              <div>
                <label for="problemMotor" class="radio-seperator">
                  <input class="" placeholder="The Blender Motor" id="problemMotor" type="radio" formControlName="problemType" value="motor"
                       [ngClass]="{error: checkIfElementIsErrored(product.get('problemType'))}">
                       The Blender Motor
                </label>
              </div>
              <div>
                <label for="problemJar" class="radio-seperator">
                  <input class="" placeholder="The Blender Jar" id="problemJar" type="radio" formControlName="problemType" value="jar"
                       [ngClass]="{error: checkIfElementIsErrored(product.get('problemType'))}">
                       The Blender Jar
                </label>
              </div>
              <div>
                <label for="problemBoth" class="radio-seperator">
                  <input class="" placeholder="Both the motor and the jar" id="problemBoth" type="radio" formControlName="problemType" value="both"
                       [ngClass]="{error: checkIfElementIsErrored(product.get('problemType'))}">
                       Both the motor and the jar
                </label>
              </div>
            </div>
      <div class="grid__item medium--one-half large--one-half">
          <div class="grid" formGroupName="contact">
            <div class="grid__item small--one-half medium--one-half large--one-half">
              <label class="hidden-label">Serial Prefix</label>
              <input class="input-full" placeholder="Serial Prefix" type="text"
                     [ngClass]="{error: checkIfElementIsErrored(product.get('motorSerial.serialPrefix'))}"
                     formControlName="serialPrefix">
            </div>
            <div class="grid__item small--one-tenth medium--one-tenth large--one-tenth" style="text-align:center;margin-top:16px;font-size:20px;">-</div>
            <div class="grid__item small--one-quarter medium--one-quarter large--one-quarter">
              <label class="hidden-label">Serial Suffix</label>
              <input class="input-full" placeholder="Serial Suffix" type="text"
                     [ngClass]="{error: checkIfElementIsErrored(product.get('motorSerial.serialSuffix'))}"
                     formControlName="serialSuffix">
            </div>
            <div></div>
          </div>
      </div>
		</div>

    <div class="grid input-full">
      <button id="product-submit--btn" name="button" class="step__footer__continue-btn btn" style="float:left;"
      	(click)="previousStep()"
              >
        Previous
      </button>
      <button id="product-submit--btn" name="button" class="step__footer__continue-btn btn" style="float:right;"
              type="submit">
        NEXT
      </button>
    </div>


      </div>

    </form>

</div>

